<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로또 당첨 횟수를 알아보자. </h1>
    <hr>
    <h3>이번 회차 당첨 번호: [{{ val_1 }}, {{ val_2 }}, {{ val_3 }}, {{ val_4 }}, {{ val_5 }}, {{ val_6 }}] + {{ bnus }}</h3>
    <ul>
        <p>1등: {{ n1 }}</p> 
        <p>2등: {{ n2 }}</p>
        <p>3등: {{ n3 }}</p>
        <p>4등: {{ n4 }}</p>
        <p>5등: {{ n5 }}</p>
        <p>꽝: {{ ng }}</p>
    </ul>
</body>
</html>